<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/piglatinize">
    <p>Input the text you want piglatinized here:</p>
    <input type="text" name="phrase">
    <input id='Submit' type="submit">
  </form>
  </body>
</html>